@import url('https://fonts.googleapis.com/css?family=Anton');
body{
    font-family: 'Anton', sans-serif;
}
header{
    margin-top: 50px;
    background: url("../media/Background.jpg") no-repeat;
    height: 200px;
}
header h1{
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-top: 80px;
    letter-spacing: 2px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
article{
    height: auto;
    width: 200px;
    border: 1px solid lightgrey;
    margin-top: 50px;
    display: grid;
    grid-template-rows: 200px 70px 55px;
}
article img{
    height: 200px;
    border-bottom: 1px solid lightgrey;
}
article div:first-of-type {
    margin-top: 10px;
    margin-left: 15px;
}
article div:last-of-type{
    border-top: 1px solid lightgrey;
}
article p{
    margin-bottom: 15px;
}
article input{
    height: 100%;
    width: 25px;
    border: none;
    border-right: 1px solid lightgrey;
}
article button{
    height: 90%;
}
